/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.nav-link.disabled {
  color: #000 !important;
}

.hero {
  background-image: url(background-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 92vh;
  width: 100%;
  margin-top: 0;
  color: #fcf8f8;
}

.hero p {
  font-size: 25px;
}

.app-name {
  color: aqua;
}

.center-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container {
  width: 50%;
  margin: 0 auto;
}

.transactions-container {
  width: 540px;
  margin: 0 auto;
}
